/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

		/*header start*/
header{
	padding: 5px 0;
	
}
.logo{
	width: 180px;
}
.menu ul li a{
	padding: 0 5px 8px !important;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

	/*header start*/
header{
	padding: 5px 0;
	
}
.menu ul li a{
	padding: 0 5px 8px !important;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
header{
	padding: 10px 0;
	
}
.menu ul li a{
	padding: 0 5px 8px !important;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
}